mixin dropdown-area__list__item(name, value)
  li.dropdown-area__list__item= name
    .dropdown-area__list__item__counter
      .dropdown-area__list__item__counter__plus-button
      .dropdown-area__list__item__counter__value= value
      .dropdown-area__list__item__counter__minus-button


.field
  .field__title some dropdown
  .field__area.dropdown-area
    .dropdown-area__text Some Text
    .dropdown-area__check
    ul.dropdown-area__list
      +dropdown-area__list__item("спальни", 2)
      +dropdown-area__list__item("кровати", 2)
      +dropdown-area__list__item("ванные комнаты", 1)