.radio-buttons 
  .field__title Выберите свой пол
  div
    .radio-buttons__button
      input(type="radio" name="gender" value="Мужчина")
      span Мужчина 
    .radio-buttons__button
      input(type="radio" name="gender" value="Женщина")
      span Женщина
