.room-rating 
  img( alt="star" width="24" height="24").room-rating__star
  img( alt="star" width="24" height="24").room-rating__star
  img( alt="star" width="24" height="24").room-rating__star
  img( alt="star" width="24" height="24").room-rating__star
  img( alt="star" width="24" height="24").room-rating__star