$green : #6FCF97;
$purple : #BC9CFF;
$Dark5 : rgba(31, 32, 65, 0.05);
$Dark25 : rgba(31, 32, 65, 0.25);
$Dark50 : rgba(31, 32, 65, 0.5);
$Dark75 : rgba(31, 32, 65, 0.75);
$Dark100 : rgba(31, 32, 65, 1);
