- var pageTitle = "UI Kit"

doctype html
html(lang="en")
  head
    title=pageTitle
    link(rel="stylesheet" href="style.css")
  body
    .elements 
      include components/text_field/text_field
      include components/text_field_dropdown/text_field_dropdown



      script(src="components/text_field_dropdown/show_dropdown.js")