- var pageTitle = "UI Kit"

doctype html
html(lang="en")
  head
    title=pageTitle
    link(rel="stylesheet" href="style.css")
  body
    .elements 
      include components/text_field/text_field
      include components/text_field_dropdown/text_field_dropdown
      include components/checkbox_list/checkbox_list
      include components/room_details/room_details
      include components/checkbox_buttons/checkbox_buttons
      include components/radio_buttons/radio_buttons
      include components/toggle_button/toggle_button



      script(src="components/text_field_dropdown/show_dropdown.js")
      script(src="components/checkbox_list/checkbox_list.js")