@charset "UTF-8";
@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat Regular 400.eot");
  src: local("☺"), url("fonts/Montserrat Regular 400.woff") format("woff"), url("fonts/Montserrat Regular 400.ttf") format("truetype"), url("fonts/Montserrat Regular 400.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Montserrat';
  src: url("./fonts/Montserrat Bold 700.eot");
  src: local("☺"), url("fonts/Montserrat Bold 700.woff") format("woff"), url("fonts/Montserrat Bold 700.ttf") format("truetype"), url("fonts/Montserrat Bold 700.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.d-none {
  display: none;
}

.v-hidden {
  visibility: hidden;
}

.elements {
  margin: 140px 163px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.field {
  width: 320px;
  height: 67px;
  margin-bottom: 20px;
}

.field__title {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  color: #1f2041;
}

.field__area {
  margin-top: 4px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  padding: 13px 0 13px 15px;
  -webkit-transition: border-color .3s ease, color .3s ease;
  transition: border-color .3s ease, color .3s ease;
}

.field__area:hover, .field__area:focus-within {
  border-color: rgba(31, 32, 65, 0.5);
}

.field__area:hover > .field__area__input {
  color: rgba(31, 32, 65, 0.75);
}

.field__area:focus-within > .field__area__input {
  color: rgba(31, 32, 65, 0.75);
}

.field__area__input {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  border: none;
  outline: none;
  line-height: 18px;
  color: rgba(31, 32, 65, 0.25);
  width: 80%;
  padding: 0;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.field__area__input::-webkit-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.field__area__input:-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.field__area__input::-ms-input-placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.field__area__input::placeholder {
  color: rgba(31, 32, 65, 0.25);
}

.dropdown {
  width: 266px;
  height: auto;
  position: relative;
}

.dropdown-area {
  position: relative;
  padding: 0;
  width: inherit;
  border-radius: 2px 2px 0 0;
}

.dropdown-area:hover .dropdown-area__list {
  border-color: rgba(31, 32, 65, 0.5);
}

.dropdown-area__text {
  color: rgba(31, 32, 65, 0.75);
  padding: 13px 0 13px 15px;
  cursor: pointer;
}

.dropdown-area__list {
  padding: 15px 15px;
  border-top: 1px solid rgba(31, 32, 65, 0.25);
  -webkit-transition: border-color .3s ease;
  transition: border-color .3s ease;
}

.dropdown-area__list__item {
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  text-align: left;
  color: #1f2041;
  margin-top: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.dropdown-area__list__item:first-child {
  margin-top: 13px;
}

.dropdown-area__list__item__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-preferred-size: 92px;
      flex-basis: 92px;
}

.dropdown-area__list__item__counter__value {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  margin: 0 10px;
  width: 15px;
}

.dropdown-area__list__item__counter__plus-button, .dropdown-area__list__item__counter__minus-button {
  height: 30px;
  width: 30px;
  border: 1px solid rgba(31, 32, 65, 0.5);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.dropdown-area__list__item__counter__plus-button::before, .dropdown-area__list__item__counter__plus-button::after {
  content: '';
  height: 7px;
  width: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: rgba(31, 32, 65, 0.25);
}

.dropdown-area__list__item__counter__plus-button::before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.dropdown-area__list__item__counter__minus-button::after {
  content: '';
  height: 7px;
  width: 1px;
  position: absolute;
  top: 40%;
  left: 50%;
  background-color: rgba(31, 32, 65, 0.25);
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.check {
  position: absolute;
  height: 44px;
  width: 44px;
  right: 0;
  top: 0;
  background-image: url(/src/img/expand_more.svg);
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.only-title__check {
  position: absolute;
  top: 2px;
  width: 15px;
  height: 11px;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.only-title__check__transform {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.dropdown__title {
  cursor: pointer;
}

.dropdown-area__checkbox-list {
  border: none;
  padding: 18px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  opacity: 0;
  height: auto;
}

.dropdown-area__checkbox-list__transform {
  opacity: 1;
}

.dropdown-area__checkbox-list__item {
  margin-bottom: 12px;
}

.dropdown-area__checkbox-list__item__name {
  margin-left: 10px;
  vertical-align: middle;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  line-height: 18px;
  color: rgba(31, 32, 65, 0.5);
}

.dropdown-area__checkbox-list__item__before {
  position: relative;
}

.dropdown-area__checkbox-list__item__before::before {
  content: "";
  background-image: url("data:image/svg+xml,%3Csvg width='10' height='8' viewBox='0 0 10 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.46439 2.29245L5.70703 6.53509L4.29282 7.9493L0.0501771 3.70666L1.46439 2.29245Z' fill='url(%23paint0_linear)'/%3E%3Cpath d='M8.53546 0.878232L9.94967 2.29245L4.29282 7.9493L2.8786 6.53509L8.53546 0.878232Z' fill='url(%23paint1_linear)'/%3E%3Cdefs%3E%3ClinearGradient id='paint0_linear' x1='7.82835' y1='0.171125' x2='2.1715' y2='5.82798' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3ClinearGradient id='paint1_linear' x1='7.82835' y1='0.171125' x2='2.1715' y2='5.82798' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23BC9CFF'/%3E%3Cstop offset='1' stop-color='%238BA4F9'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/svg%3E%0A");
  background-size: 6px 8px;
  position: absolute;
  width: 6px;
  height: 8px;
  top: 35%;
  left: 35%;
}

.dropdown-area__checkbox-list__item div {
  display: inline-block;
}

.dropdown-area__checkbox-list__item__checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: transparent;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
  width: 20px;
  height: 20px;
  vertical-align: middle;
  position: relative;
  padding: 0;
  margin: 0;
}

.dropdown-area__checkbox-list__item__checkbox:checked {
  border: 1px solid #BC9CFF;
}

.room-details {
  width: 291px;
}

.room-details__list {
  height: auto;
}

.room-details__list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px 0;
  border-bottom: 1px solid rgba(31, 32, 65, 0.1);
}

.room-details__list__item img {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.room-details__list__item__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-left: 15px;
  vertical-align: middle;
}

.room-details__list__item__text__title {
  font-style: normal;
  font-weight: 700;
  font-size: 19px;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
  color: #1f2041;
  text-transform: capitalize;
  color: rgba(31, 32, 65, 0.75);
}

.room-details__list__item__text__description {
  margin: 0;
  margin-top: 5px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  font-size: 16px;
}

.checkbox-buttons {
  width: 222px;
  height: auto;
  margin: 20px 0;
}

.checkbox-buttons .dropdown-area__checkbox-list {
  opacity: 1;
}

.checkbox-buttons .dropdown-area__checkbox-list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
}

.checkbox-buttons .dropdown-area__checkbox-list__item:first-child {
  height: 21px;
}

.checkbox-buttons .dropdown-area__checkbox-list__item__before {
  height: 21px;
}

@-webkit-keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  50% {
    -webkit-transform: scale(1.25);
            transform: scale(1.25);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.radio-buttons {
  width: 221px;
}

.radio-buttons .field__title {
  margin-bottom: 16px;
}

.radio-buttons div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.radio-buttons div .radio-buttons__button:hover > span {
  color: rgba(31, 32, 65, 0.75);
}

.radio-buttons div .radio-buttons__button span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  color: rgba(31, 32, 65, 0.5);
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
}

.radio-buttons div .radio-buttons__button input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid rgba(31, 32, 65, 0.25);
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: relative;
  margin: 0;
  margin-right: 10px;
  cursor: pointer;
}

.radio-buttons div .radio-buttons__button input:checked {
  border-color: #BC9CFF;
}

.radio-buttons div .radio-buttons__button input:checked + span {
  color: rgba(31, 32, 65, 0.75);
}

.radio-buttons div .radio-buttons__button input:checked::before {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  border-radius: 50%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  -webkit-animation: scale .5s 1;
          animation: scale .5s 1;
}

.radio-buttons div .radio-buttons__button:last-child {
  margin-left: 20px;
}

.toggle-button {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 260px;
}

.toggle-button span {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin-left: 10px;
}

.toggle-button input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  position: relative;
  -webkit-transition: .3s ease-out;
  transition: .3s ease-out;
  margin: 0;
}

.toggle-button input::before {
  content: "";
  width: 12px;
  height: 12px;
  position: absolute;
  border-radius: 50%;
  background: rgba(31, 32, 65, 0.25);
  top: 0;
  left: 4px;
  bottom: 0;
  margin: auto;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.toggle-button input:checked {
  border-color: #BC9CFF;
}

.toggle-button input:checked::before {
  background: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
  -webkit-transform: translate(calc(100% + 6px));
          transform: translate(calc(100% + 6px));
}

.like-button {
  width: 40px;
  height: 20px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 10px;
  cursor: pointer;
  background-color: #fff;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.like-button__like-icon {
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-150%);
          transform: translate(-150%);
}

.like-button__likes-value {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  font-size: 10px;
  line-height: 12px;
  color: rgba(31, 32, 65, 0.25);
  margin-left: 12px;
}

.liked {
  border-color: #BC9CFF;
}

.liked .like-button__likes-value {
  color: #BC9CFF;
}

.room-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.room-rating__star {
  margin-left: 4px;
}

.room-rating__star:first-child {
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  width: 1440px;
  height: 1853px;
  margin: 0 auto;
}
