@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat Regular 400.eot');
	src: local('☺'), url('fonts/Montserrat Regular 400.woff') format('woff'), url('fonts/Montserrat Regular 400.ttf') format('truetype'), url('fonts/Montserrat Regular 400.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}


@font-face {
	font-family: 'Montserrat';
	src: url('./fonts/Montserrat Bold 700.eot');
	src: local('☺'), url('fonts/Montserrat Bold 700.woff') format('woff'), url('fonts/Montserrat Bold 700.ttf') format('truetype'), url('fonts/Montserrat Bold 700.svg') format('svg');
	font-weight: 700;
	font-style: normal;
}

.list {
  list-style: none;
  padding:0;
  margin:0; 
}


.d-none{
  display:none;
}

.v-hidden {
  visibility: hidden;
}


.elements {
  margin: 140px 163px;
  display:flex;
  flex-direction: column;
}

@import "components/_variables.scss";
@import "components/_mixins";
@import "components/text_field/text_field";
@import "components/text_field_dropdown/text_field_dropdown";
@import "components/checkbox_list/checkbox_list";
@import "components/room_details/room_details";
@import "components/checkbox_buttons/checkbox_buttons";
@import "components/radio_buttons/radio_buttons";
@import "components/toggle_button/toggle_button";
@import "components/like_button/like_button";
@import "components/rate_button/rate_button";

body {
  background-color: #fff;
  font-family: "Montserrat";
  font-style: normal;
  width: 1440px;
  height: 1853px;
  margin: 0 auto ;
}

